*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.link{
  color: #435A52;
  /* border: 1px solid; */
  padding-left: 10%;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bolder;
}
.me-auto{
  /* border: 2px solid; */
  margin-left: 5%;
  width: 60%;
  
}
.logo{
  height: 50px;
}
.slide-img2{
  filter: brightness(0.3);
}
.slide h1{
  font-size: 80px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.slide p{
  font-size: 22px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.sec img{
  width: 90%;
}
.sec h1{
  font-size: 60px;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #435A52;
}