*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    height: 800px;
    text-align: center;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-image: url();
    background: url();
}
table{
    text-align: center;
    margin-left: 5%;
    margin-top: 25%;
}