body{
  background-image: url(https://img.freepik.com/free-vector/watercolor-rainbow-background-design_23-2149573234.jpg?t=st=1725531419~exp=1725535019~hmac=1660efa9d72284172597f4e1cda22959c4b8900f93a5f3d76fc7da53e353ea02&w=996);
  background-position: center;
  background-size: cover;
  height: 500px;
  text-align: center;
}
h1{
  font-size: 60px;
  color: rgb(215, 29, 60);
}
p{
  font-size: 40px;
  font-weight: bolder;
}
input{
  height: 50px;
  width: 300px;
  margin-top: 2%;
  padding-left: 1%;
}
button{
  height: 50px;
  width: 200px;
  margin-top: 2%;
  background-color: rgb(149, 217, 234);
  border: none;
  color:black;
  font-size: 20px;
  border-radius: 40px;

}