body{
  background-image: url(https://img.freepik.com/free-vector/watercolor-rainbow-background-design_23-2149573234.jpg?t=st=1725531419~exp=1725535019~hmac=1660efa9d72284172597f4e1cda22959c4b8900f93a5f3d76fc7da53e353ea02&w=996);
  background-position: center;
  background-size: cover;
  height: 500px;
  text-align: center;
}
h1{
  font-size: 60px;
  color: rgb(215, 29, 60);
}
p{
  font-size: 40px;
  font-weight: bolder;
}
input{
  height: 50px;
  width: 300px;
  margin-top: 2%;
  padding-left: 1%;
  border-bottom: 2px solid;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
button{
  height: 50px;
  width: 200px;
  margin-top: 2%;
  background-color: rgb(149, 217, 234);
  border: none;
  color:white;
  font-weight: bolder;
  font-size: 20px;
  border-radius: 40px;
  -webkit-background-clip: text;
  transition: 1s;
  background: url(https://st4.depositphotos.com/13324256/21974/i/450/depositphotos_219748464-stock-photo-beautiful-calm-clean-water-drops.jpg)50% 50%;

}
button:hover{
  -webkit-background-clip: text;
  background: url(https://media.gettyimages.com/id/1473180516/video/4k-abstract-particle-wave-bokeh-background-purple-beautiful-glitter-loop-stock-video.jpg?s=640x640&k=20&c=bdZP_Xs0wdTsRvQtdkGnIOKr0LpTR-FxmqznLkx3_RU=) 50% 50%;
  transition-duration: 1s;
}